body {
    margin: 0px;
    background-color:#fdfeff;
	color: #6c6064;

}

footer {
    padding-top:60px;
    padding-bottom:100px;
    background-color: #fff;
	width:100%;
}

h1, h2, h3, h4, h5, h6 {

	color:inherit;
	text-align: center;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 55px;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
	text-transform: uppercase;
	letter-spacing:1pt;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
	letter-spacing:1pt;
	text-transform: uppercase;

}


h4 {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom:20px;
	text-transform: uppercase;
	opacity: 0.7;
	letter-spacing:1pt;
	
}

h5 {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	font-weight: 600;
	opacity: 0.7;
	margin-top: -10px;
}

.pad-content h5 {
	margin-top: 30px;
}

h6 {
	font-family: 'Arapey', serif;
	font-weight: 400;
	font-style: italic; 
	font-size: 18px;
	opacity: 0.7;
}

p {
	font-family: 'Open Sans', serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 26px;
	margin-bottom: 15px;
	opacity: 1;
}


a {
	color: #21b17b;

}

a:hover {
	color: #1a8f63;
}

.light-text a {
	color: #83e8c2;
	opacity: 1;
}

.light-text a:hover {
	opacity: 1;
	color: #a4eed2;
}


.white-text a {
	color: #fff;
	opacity: 1;
}

.white-text a:hover {
	color: #fff;
	opacity: 0.8;
}

.banner{
	padding-top: 100px;
}

.header{
	padding-top: 30px;
	margin-bottom: 60px;
	opacity: 0.9;
	text-align: center;
	
}

.header h4{
	opacity: 0.9;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 30px;
	color:#444;
	text-shadow: 1px 1px 0px #c3bcbe;
	letter-spacing:1pt;
}

.header .menu{
	margin-top: 30px;
}

.header .menu a{
	margin: 10px;
	text-transform: uppercase;
	letter-spacing:1pt;
	font-family: 'Lato', sans-serif;
	color:#555;
	opacity: 0.5;
}

.header .menu a:hover{
	opacity: 1;
}

.header .menu a.active{
	opacity: 1;
	cursor: default;
}



.home-icon{
	position: absolute;
	left: 40px
	top:40px;
	margin: 20px 20px;
	opacity: 0.3;

}

.home-icon:hover{
	opacity: 0.7;

}


.logo {
	background-image: url(logo-new.png);
	width: 40px;
	height: 40px;
	background-repeat:no-repeat;
	margin:0px auto;
}


.logo-dark {
	background-image: url(logo-new-dark.jpg);
	width: 60px;
	height: 60px;
	background-repeat:no-repeat;
	margin:0px auto 40px auto;
	opacity: 0.65;
}

.logo-dark:hover{
	opacity: 0.9;
}



.header p{
	font-size: 16px;

}

.dark-bg{
	background-color: #555;
	color:white;
	padding: 40px 0px;
}

.light-text, .white-text{
	color:white;
}

.light-bg{
	background-color: #fff;
	padding: 40px 0px;
}
.grey-bg{
	background-color: #eee;
	padding: 40px 0px;
}

.pad-content{
	padding: 60px 0px 60px;
	border-bottom: 2px solid #eee;
}

.no-bot{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.no-left{
	margin-left: 0px;
	padding-left: 0px;
}

.no-right{
	margin-right: 0px;
	padding-right: 0px;
}
.work .columns{

padding-left: 10px;
padding-right:10px;
padding-bottom: 20px;
}

.work .row{
	padding: 10px;
}
.box{

	height: 300px;
	overflow: hidden;
	padding:0px;
	background-color:#fff;
	background-size:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	opacity: 0.8;
}
.box:hover{

		opacity: 1;
}


#bayes .box{
	background: url(../img/bayes-bg.jpg) no-repeat center top;
}

#piin .box{
	background: url(../img/piin-bg-mobile.jpg) no-repeat center top;
}

#map .box{
	background: url(../img/map-bg.jpg) no-repeat center top;
}

#releaf .box{
	background: url(../img/releaf-bg-mobile.jpg) no-repeat center top;
}

#food .box{
	background: url(../img/gainsters-bg.jpg) no-repeat center top;
}

#insta .box{
	background: url(../img/insta-bg.jpg) no-repeat center top;
}

#paint .box{
	background: url(../img/paint-bg-mobile.jpg) no-repeat center top;
}
img{
	padding-bottom: 30px;
}
video {
  width: 100%    !important;
  height: auto   !important;
  border:2px solid #eee;
  border-radius: 2px;
  background-color: #eee;

}



.box img{
		margin-bottom: 10px;
		width:100%;
		position:absolute;
}

.box img:hover{
	opacity: 0.95;
}

.box h4{
	opacity: 1;
	letter-spacing:1pt;
	font-size: 26px;
	margin-top: 8px;
}
.box h6{
	margin-top: -15px;
}

.box .title {
	padding: 80px 50px;
	z-index: 5;
	width:100%;
	text-align: center;
	background-color:rgba(80,80,80,0.95);
	height: 400px;
	color:#fff;
	opacity: 0;
	width: 100%;
	transition: all 0.25s ease-in-out;
}

.box .title:hover {
	padding: 100px 50px;
	z-index: 5;
	width:100%;
	text-align: center;
	height: 400px;
	opacity: 1;
}

[class*="column"] + [class*="column"]:last-child {
		float: left;
	}

@media(max-width: 40em){
.box{
	height: 450px;
}

.box .title {
	margin:0px auto;
	padding-top: 310px;
	z-index: 5;
	width:100%;
	opacity: 0.8;
	background-color: transparent;
	color:#333;
}

.box .title:hover {
	padding-top: 310px;
	opacity: 1;
}
.work .row{
	padding: 0px;
}

#bayes .box{
	background: url(../img/bayes-bg-mobile.jpg) no-repeat center top;
}

#map .box{
	background: url(../img/map-bg-mobile.jpg) no-repeat center top;
}

}
